<!--
	pluralize is a Ruby method that returns the plural form of the word in the string.
	if the first parameter, count, is specified, the singular form of the string will
	be returned if count == 1. for any other value of count, the plural form of the
	string will be returned.
	count is a Ruby method that returns the number of elements in the array of movie
	objects.
-->
<h1>View <%= pluralize(@rating.count, "Movie Ratings") %></h1>
<table>
	<thead>
		<th>Title</th>
		<th>Rating</th>
	</thead>
	<tbody>
		<!--
			each is a Ruby method that iterates over a code block for each element in the
			array of movie objects.
		-->
		<% @rating.each do |rating| %>
		<tr>
			<td><%= rating.title %></td>
			<td><%= rating.rating %></td>
			<td>
				<a href="/rating/<%= rating.id %>">Show</a> |
				<a href="/rating/<%= rating.id %>/edit">Edit</a> |
				<a href="/rating/<%= rating.id %>/delete">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>